<html lang="en">

<%- include header %>

<div class="jumbotron" >
	<h1>Welcome</h1>
	<p>Hello Dashboard</p>
	<p>
		<a class="btn btn-lg btn-primary" href="http://127.0.0.1:5501/NewsAppJs/index.html" title="">Home Page>></a>
		<a class="btn btn-lg btn-primary" href="/home/profile" title="">Profile View >></a>
	</p>
</div>	

<%- include footer %>